p, h1, h2, h3, td, th {
  font-family: verdana;
  padding: 0px;
  margin: 0px;
  margin-bottom: 12px;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 18px;
}

h2 {
  font-size: 24px;
}

h1 {
  font-size: 30px;
}

.quote {
  border-left: 1px solid dimgrey;
  border-radius: 5px;
  padding: 0px;
}

.quote p {
  color: dimgrey;
  margin-left: 16px;
  margin-bottom: 4px;
}

.quote .alt {
  color: steelblue;
}

.quote .quotesrc {
  color: black;
  margin-top: 8px;
  margin-left: 24px;
  margin-bottom: 8px;
}

.note {
  color: dimgrey;
}

.img-fluid {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  float: right;
  margin-left: 5px;
}

hr {
  clear: right;
  background: dimgrey;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 2px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.list-group-item {
    padding:.1rem 1.25rem;
}

tr.ae, td.ae {
  background-color: #99ff99;
}

tr.as, td.as {
  background-color: #ccffcc;
}

tr.vg, td.vg {
  background-color: #e6e6ff;
}

tr.pr, td.pr {
  background-color: #e6ffe6;
}

tr.cb, td.cb {
  background-color: #ffffe6;
}

tr.bk, td.bk {
  background-color: #ffccdd;
}

tr.gn, td.gn {
  background-color: #ffe5cc;
}

.thickheader {
  height: 2px;
}