p, h1, h2, h3, td, th, button {
  font-family: verdana;
  padding: 0px;
  margin: 0px;
  margin-bottom: 12px;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 18px;
}

h2 {
  font-size: 24px;
}

h1 {
  font-size: 32px;
}

ul {
  padding-left: 16px;
}

.quote {
  border-left: 1px solid dimgrey;
  border-radius: 5px;
  background: #F0F0F0;
  padding: 0px;
}

.quote p {
  color: #303030;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 4px;
}

.quote .alt {
  color: #005080;
}

.quote .quotesrc {
  color: black;
  margin-top: 8px;
  margin-left: 32px;
  margin-right: 16px;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.greyed {
  color: dimgrey;
}

.note {
  color: dimgrey;
  background: #FFFFE0;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.noncanon {
  background: #FFF0F0;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.alttimeline {
  background: #F0F0FF;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.img-fluid {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  float: right;
  margin-left: 5px;
  background: white;
}

@media (max-width: 991px) {
  .img-fluid {
    width: 100%;
    margin-bottom: 10px;
  }
}

hr {
  clear: right;
  background: dimgrey;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 2px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.list-group-item {
    padding:.1rem 1.25rem;
    padding-left: 0px;
}

tr.ae, td.ae {
  background-color: #99ff99;
}

tr.as, td.as {
  background-color: #ccffcc;
}

tr.vg, td.vg {
  background-color: #e6e6ff;
}

tr.pr, td.pr {
  background-color: #e6ffe6;
}

tr.cb, td.cb {
  background-color: #ffffe6;
}

tr.cc, td.cc {
  background-color: #ffffb0;
}

tr.ab, td.ab {
  background-color: #ffccb6;
}

tr.bk, td.bk {
  background-color: #ffccdd;
}

tr.gn, td.gn {
  background-color: #ffe5cc;
}

.thickheader {
  height: 2px;
}

.eltype {
  color: dimgrey;
  font-size: 11px;
  font-style: italic;
}